@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	font-family: "Poppins";
}
body {
	width: 100%;
	min-height: 100vh;
	display: grid;
	place-items: center;
}
.bg {
	width: 100%;
	min-height: 100%;
	position: fixed;
	z-index: -1;
	background-repeat: no-repeat;
	top: 0;
}
.h1o {
	color: white;
	font-size: 4em;
	font-weight: bold;
	padding-top: 90px;
}
span {
	color: rgb(223, 221, 221);
	display: inline-block;
	margin-top: -17px;
	padding-bottom: 30px;
}
.cont {
	width: 1168px;
	display: grid;
	place-items: center;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
/* header */
header {
	width: 100%;
	height: 220px;
	background-color: white;
	display: grid;
	margin-top: -20px;
	place-items: center;
}
.defh1 {
	color: #0f0f0f;
	padding-top: 46px;
}
.defh1::after {
	content: "";
	width: 150px;
	height: 1px;
	display: block;
	background-color: #dfdfdf;
	margin: 10px 5em 19px;
}
.defp {
	color: #a1a1a1;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: -67px;
	font-size: 0.9em;
	padding-bottom: 20px;
}
/* section 1 */
.sec1 {
	width: 100%;
	height: 420px;
	display: grid;
	background-color: #f5f5f4;
}
.sec1 p {
	padding: 0px 85px;
	font-size: 0.9em;
	color: #8a8a8a;
	line-height: 1.8em;
}
.sec1 p:first-child {
	padding: 93px 85px 0px;
}
/* section 2 */
.sec2 {
	width: 100%;
	height: 811px;
	background-color: #1e1f23;
	display: grid;
	justify-content: center;
}
.sec2 .min-cont {
	width: 1000px;
	height: 672px;
	background-color: #121315;
	/* شيلها بعد ماتعمل للاب place item */
	margin: 87px;
	text-align: center;
}
.sec2 .min-cont h1 {
	color: white;
}
.sec2 .min-cont h1::after {
	margin: 16px 420px;
}
.sec2 .min-cont p {
	margin-top: 0;
	letter-spacing: 2px;
	padding-bottom: 35px;
	color: #5e5c5c;
}
.sec2 .min-cont .img {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}
.sec2 img,
.sec3 img {
	width: 50%;
	float: left;
}
/* section 3 */
.sec3 {
	width: 100%;
	height: 1324px;
	background-color: white;
}
.sec3 .box {
	width: 50%;
	height: 441px;
	float: left;
	padding: 140px 84px;
}
.sec3 .box h2 {
	color: #1e1f23;
	padding-bottom: 27px;
}
.sec3 .box p {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.9em;
}
.sec3 img:nth-of-type(2) {
	float: right;
}
.sec3 .box2 {
	float: left;
	background-color: #1e1f23;
}
.sec3 .box2 h2 {
	color: white;
	text-align: right;
}
.sec3 .box2 p {
	text-align: right;
	color: rgba(255, 255, 255, 0.75);
}
.sec3 .box3 p {
	color: rgba(0, 0, 0, 0.7);
}
/* footer */
footer .icon {
	padding: 82px 200px 40px;
}
footer .icon span {
	padding: 0 10px;
}
footer .icon span a {
	color: rgba(255, 255, 255, 0.75);
}

footer .icon span a:hover {
	color: white;
	cursor: pointer;
}

footer > span {
	font-size: 0.8em;
	color: #999;
	padding-left: 100px;
}
footer > span a {
	color: white;
}
footer span a:hover {
	text-decoration: none;
}
